{%extends "layout.html" %}
{% block Table %}
<h1 style="text-align:center;"><b>Students table</b></h1>
<div style="width: 98%; margin-left:1%; ">
    <div class="col-md-12">
        <div class="col-md-1"></div>
        <div class="col-md-4">
            <label for="semester">Select Semester to fetch Data</label>
            <select name="semester" data-live-search="true" id="semester" class="form-control" title="Select Semester">
                {% for semester in semesters %}
                <option value="{{semester.id}}">{{semester.semester}}</option>
                {% endfor %}
            </select>
        </div>
        <div class="col-md-2"></div>
        <div class="col-md-4">
            <form action="/findStudent">
                <div class="row">
                    <label for="student"> Search Student </label>
                    <select name="student" data-live-search="true" id="student" class="form-control" title="Select Student">
                        {% for student in students %}
                        <option value="{{student.id}}">{{student.name}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="row" style="margin-top:5px; margin-bottom:5px;">
                    <button type="submit" class="btn btn-primary">Get Student</button>
                </div>
            </form>
        </div>
    </div>
    <table class="table table-bordered sortable">
        <thead>
            <tr>
                <th>S.no</th>
                <th>Name</th>
                <th>Roll Number</th>
                <th>Email</th>
                <th>Program</th>
                <th>Field</th>
                <th>Phone Number</th>
                <th>Courses alloted</th>
                <th>Faculty Advisors</th>
                <th>Last Attendance</th>
            </tr>
        </thead>
        <tbody id="student_rows">
        </tbody>
    </table>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/js/bootstrap-select.min.js"></script>
<script>
    
    $(document).ready(function () {
        $("#semester").selectpicker();
        $("#student").selectpicker();

        function get_student_list(semester_id) {
            $.ajax({
                url: "/get_student_list",
                method: "POST",
                data: {'semester_id':semester_id},
                //dataType: "json",
                success: function (resp) { //alert(category_id)
                    students = resp.students;
                    const rows = document.getElementById('student_rows');
                    rows.innerHTML = "";
                    for(let i=0 ; i<students.length ; i++){
                        var row = rows.insertRow(i);
                        row.insertCell(0).innerHTML = i+1;
                        row.insertCell(1).innerHTML = '<a href="{{url_for("studentData", student_id="")}}'+students[i]["id"]+'">'+students[i]["name"]+'</a>';
                        row.insertCell(2).innerHTML = students[i]['rollno'];
                        row.insertCell(3).innerHTML = students[i]['email'];
                        row.insertCell(4).innerHTML = students[i]['program'];
                        row.insertCell(5).innerHTML = students[i]['field'];
                        row.insertCell(6).innerHTML = students[i]['phone_number'];
                        var html1 = '';
                        for(let j=0 ; j<students[i]["courses"].length ; j++){
                            html1 += '<p>'+students[i]["courses"][j]+'</p>';
                        }
                        row.insertCell(7).innerHTML = html1;
                        var html2 = '';
                        for(let j=0 ; j<students[i]["facads"].length ; j++){
                            html2 += '<p>'+students[i]["facads"][j]+'</p>';
                        }
                        row.insertCell(8).innerHTML = html2;
                        row.insertCell(9).innerHTML = students[i]['attendance'];
                    }
                },
            });
        }
        $(document).on("change", "#semester", function () {
            var semester_id = $("#semester").val();
            get_student_list(semester_id);
        });
    });
</script>
{% endblock Table %}