{%extends "layout.html" %}
{% block content %}
<div style="width: 80%; margin-left:10%; margin-top:2%;">
<div class="col-md-12">
    <div class="col-md-6">
        <h4><b>Name</b> : {{student.name}}</h4>
        <h4><b>Roll Number</b> : {{student.roll_number}}</h4>
        <h4><b>Email</b> : {{student.email}}</h4>
        <h4><b>Faculty Advisor's</b> :</h4>
        {% for facad in facads %}
            <h4 style="margin-left:20px">{{facad.status}} - {{facad.facad_name}}</h4>
        {% endfor %}
    </div>
    <div class="col-md-6">
        <h4><b>Program</b> : {{student.program}}</h4>
        <h4><b>Field</b> : {{student.field}}</h4>
        <h4><b>Alt Email</b> : {{student.alt_email}}</h4>
        <h4><b>Phone Number</b> : {{student.phone_number}}</h4>
        <h4><b>Hostel Number</b> : {{student.hostel_no}}</h4>
        <h4><b>Room Number</b> : {{student.room_no}}</h4>
    </div>
</div>
<div class="col-md-12">
    <div class="row" style="text-align:center;">
        <hr>
        <h4><b> Courses Alloted </b></h4>
        {% for course_ta in course_tas[::-1] %}
            <p>{{course_ta.semester}} | <a href="{{ url_for('courseData',course_id=course_ta.course_id)}}">{{course_ta.course}}</a> | {{course_ta.section}}</p>
        {% endfor %}
        {% if not course_tas %}
            <p>None</p>
        {% endif %}
    </div>
    <div class="row" style="text-align:center; margin-bottom:5%;">
        <hr>
        <h4><b>Attendance table</b></h4>
        <table class="table table-bordered sortable">
            <thead>
                <tr>
                    <th>Sn.no</th>
                    <th>Attendance Dates</th>
                    <th>Date Time Posted</th>
                </tr>
            </thead>
            <tbody>
                {% for attendance in attendances %}
                    <tr>
                        <td>{{ attendance.id }}</td>
                        <td>{{ attendance.date_posted }}</td>
                        <td>{{ attendance.datetime_posted }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
</div>
{% endblock content %}