{%extends "layout.html" %}
{% block content %}
<div id="snackbar">
</div>

<h1 id="updateh1" onclick="hide_update_data('allotmentsFaculty')"><b>Allotments : {{ faculty.name }}</b><i class="fa fa-angle-down" style="font-size:36px; float:left;"></i></h1>
<div id="allotmentsFaculty">
    <div class="split1">
        <h3 style="text-align:center;">Allotments</h3>
        <div class="row" >
            <div class="col-md-6">
                <label>Select Semester</label>
                <select name="semester" data-live-search="true" id="semester" class="form-control" title="Select Semester">
                    {% for semester in semesters %}
                    <option value="{{semester.id}}">{{semester.semester}}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <hr>
        <div id="courses_alloted"></div><br>
        <div class="row" >
            <div class="col-md-6">
                <label>Select Course</label>
                <select name="course" data-live-search="true" id="course" class="form-control" title="Select Course">
                </select>
            </div>
            <div class="col-md-6">
                <label>Select Student</label>
                <select name="student" data-live-search="true" id="student" class="form-control" title="Select Course">
                </select>
            </div>
        </div>
        <div class="row"  style="margin-top: 2%;">
            <button id="btnSubmit" style="margin-left: 5%;" class="btn btn-primary">Save Changes</button>
        </div>
    </div>

    <div class="split2">
        <h3 style="text-align:center;">Allotments Table</h3>
        <table class="table table-bordered sortable">
            <thead>
                <tr>
                    <th></th>
                    <th>Field</th>
                    <th>Course</th>
                    <th>Section</th>
                    <th>Student</th>
                </tr>
            </thead>
            <tbody id="fac_course_ta_rows">
            </tbody>
        </table>
        <hr>
    </div>
</div>





<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/js/bootstrap-select.min.js"></script>

<script>
    function hide_update_data(hide_id) {
      var x = document.getElementById(hide_id);
      if (x.style.display === "none") {
        x.style.display = "block";
      } else {
        x.style.display = "none";
      }
    }

    function generate_fac_ta_Table(semester_id) {
        $.ajax({
            url: "/get_fac_ta_data",
            method: "POST",
            data: {'semester_id':semester_id},
            success: function(response){
                ta_list = response.ta_list;
                console.log(ta_list);
                const rows = document.getElementById('fac_course_ta_rows');
                rows.innerHTML = ""
                for(i=0 ; i<ta_list.length ; i++){
                    var row = rows.insertRow(i);
                    row.insertCell(0).innerHTML = i+1;
                    row.insertCell(1).innerHTML = ta_list[i]["field"];
                    row.insertCell(2).innerHTML = ta_list[i]["course"];
                    row.insertCell(3).innerHTML = ta_list[i]["section"];
                    row.insertCell(4).innerHTML = '<a href="{{ url_for("studentData",student_id="")}}'+ ta_list[i]["student_id"]+'">'+ta_list[i]["student"]+'</a>';
                    row.insertCell(5).innerHTML = '<button onclick="removeTaAllotment('+ ta_list[i]["id"]+','+semester_id +');"> Remove </button>';
                }
            }
        });
    }

    function removeTaAllotment(ta_id,semester_id) {
        let text = "Do you want to remove the allotment made ?";
        if (confirm(text) == true) {
            $.ajax({
                url: "/removeTaAllotment",
                method: "POST",
                data: {'ta_id':ta_id,'semester_id':semester_id},
                //dataType: "json",
                success: function (resp) { //alert(category_id)
                    generate_fac_ta_Table(semester_id);
                    get_courses_alloted(semester_id);
                    if(typeof resp.message != 'undefined'){
                        var x = document.getElementById("snackbar");
                        x.className = "show";
                        var html = '';
                        html += '<p>'+resp.message+'</p>'
                        $("#snackbar").html(html);
                        setTimeout(function(){ x.className = x.className.replace("show", ""); }, 3000);
                    }
                },
            });
        }
    }
    
    function get_courses_alloted(semester_id) {
        $.ajax({
            url: "/get_faculty_courses",
            method: "POST",
            data: {'semester_id':semester_id},
            success: function(resp){
                courses = resp.courses
                var html1 = '';
                for (var i = 0; i < courses.length; i++) {
                    html1 += '<a href="{{ url_for("courseData",course_id='+courses[i]["id"]+')}}">'+courses[i]['name']+'</a> | '+courses[i]['section']+' | Allotments Made :'+courses[i]['done']+' of '+courses[i]['maxTA']+'<br>';
                }
                $("#courses_alloted").html(html1);
            }
        });
    }
    
    $(document).ready(function () {
        $("#semester").selectpicker();
        $("#course").selectpicker();
        $("#student").selectpicker();
        $("#facadSemester").selectpicker();
        $("#course").selectpicker();
        $("#facadStudent").selectpicker();

        function get_faculty_courses(semester_id) {
            $.ajax({
                url: "/get_faculty_courses",
                method: "POST",
                data: {'semester_id':semester_id},
                success: function(resp){
                    courses = resp.courses
                    var html1 = "";
                    for (var i = 0; i < courses.length; i++) {
                        html1 += '<option value="'+courses[i]['id']+'" data-section="'+courses[i]['section']+'">'+courses[i]['section']+' - '+ courses[i]['name'] + "</option>";
                    }
                    $("#course").html(html1);
                    $("#course").selectpicker("refresh");
                    students = resp.students
                    var html2 = "";
                    for (var i = 0; i < students.length; i++) {
                        html2 += '<option value="' + students[i]['id'] + '">'+students[i]['name'] + "</option>";
                    }
                    $("#student").html(html2);
                    $("#student").selectpicker("refresh");
                }
            });
        }
        
        $(document).on("change", "#semester", function () {
            var semester_id = $("#semester").val();
            generate_fac_ta_Table(semester_id);
            get_faculty_courses(semester_id);
            get_courses_alloted(semester_id);
            
        });

        $(document).on("click", "#btnSubmit", function () {
            var course_id = $('#course').val();
            var section = $('#course').find(':selected').data('section');
            var student_id = $("#student").val();
            var semester_id = $("#semester").val();
            console.log('course_id',course_id);
            console.log('section',section);
            console.log('student_id',student_id);
            console.log('semester_id',semester_id);
            if(!!student_id && !!section && !!course && !!semester_id){
                    student = {'semester_id':semester_id,'course_id':course_id,
                                'section':section,'student_id':student_id}
                    $.ajax({
                        url: "/allot_section_ta",
                        method: "POST",
                        data: {'ta_list': JSON.stringify(student)},
                        //dataType: "json",
                        success: function (resp) { //alert(category_id)
                            generate_fac_ta_Table(semester_id);
                            get_courses_alloted(semester_id);
                            if(typeof resp.message != 'undefined'){
                                var x = document.getElementById("snackbar");
                                x.className = "show";
                                var html = '';
                                html += '<p>'+resp.message+'</p>'
                                $("#snackbar").html(html);
                                setTimeout(function(){ x.className = x.className.replace("show", ""); }, 3000);
                            }
                        },
                    });
                }
        });

    });
</script>
{% endblock content %}