{%extends "layout.html" %}
{% block content %}
    <div id="snackbar">
    </div>
    <div class="split1">
        <h3 style="text-align:center;"><b>TA Allotment</b></h3>
        <div class="row" >
            <div class="col-md-6">
                <label>Select Semester</label>
                <select name="semester" data-live-search="true" id="semester" class="form-control" title="Select Semester">
                    {% for semester in semesters %}
                    <option value="{{semester.id}}" data-field="{{semester.field}}">{{semester.semester}} | {{semester.field}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-md-6">
                <label>Select Course</label>
                <select name="course" data-live-search="true" id="course" class="form-control" title="Select Course">
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <label>Select Section</label>
                <select name="section" data-live-search="true" id="section" class="form-control" title="Select Section">
                </select>
            </div>
            <div class="col-md-6">
                <label>Select Student</label>
                <select name="student" data-live-search="true" id="student" class="form-control" title="Select Student">
                </select>
            </div>
        </div>
        <div class="row">
            <br>
            <button id = "btnSubmit" type="button" style="margin-left:45%;" class="btn btn-primary">Allot</button>
        </div>

        <div id="course_tas_table" style="text-align:center; display:none;">
            <div id="course_selected"></div>
            <table class="table table-bordered sortable">
                <thead>
                    <tr>
                        <th></th>
                        <th>Section</th>
                        <th>Student</th>
                    </tr>
                </thead>
                <tbody id="course_tas">
                </tbody>
            </table>
        </div>

        <h3 style="text-align:center;"><b>Pending Allotments</b></h3><br>
        <table class="table table-bordered sortable">
            <thead>
                <tr>
                    <th></th>
                    <th>Course</th>
                    <th>Section</th>
                    <th>Alloted</th>
                    <th>Max</th>
                </tr>
            </thead>
            <tbody id="pending_allotments">
            </tbody>
        </table>
        <hr>
    </div>
    
    <div class="split2">
        <h3 style="text-align:center;"><b>TA Allotment List</b></h3><br>
        <table class="table table-bordered sortable">
            <thead>
                <tr>
                    <th></th>
                    <th>Field</th>
                    <th>Course</th>
                    <th>Section</th>
                    <th>Student</th>
                </tr>
            </thead>
            <tbody id="all_tas_rows">
                
            </tbody>
        </table>
        <hr>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/js/bootstrap-select.min.js"></script>

    <script>
        
        function generate_ta_Table(semester_id) {
            var field = $("#semester").find(":selected").data("field");
            $.ajax({
                url: "/get_student_allotments",
                method: "POST",
                data: {'semester_id':semester_id,'field':field},
                //dataType: "json",
                success: function (resp) { //alert(category_id)
                    ta_list = resp.ta_list
                    const rows = document.getElementById('all_tas_rows');
                    rows.innerHTML = ""
                    for(i=0 ; i<ta_list.length ; i++){
                        var row = rows.insertRow(i);
                        row.insertCell(0).innerHTML = i+1;
                        row.insertCell(1).innerHTML = ta_list[i]["field"];
                        row.insertCell(2).innerHTML = ta_list[i]["course"];
                        row.insertCell(3).innerHTML = ta_list[i]["section"];
                        row.insertCell(4).innerHTML = ta_list[i]["student"];
                        row.insertCell(5).innerHTML = '<button onclick="removeTaAllotment('+ ta_list[i]["id"]+','+semester_id+')"> Remove </button>';
                    }
                    tas_left = resp.pending_allotments;
                    const trows = document.getElementById('pending_allotments');
                    trows.innerHTML = ""
                    for(i=0 ; i<tas_left.length ; i++){
                        var trow = trows.insertRow(i);
                        trow.insertCell(0).innerHTML = i+1;
                        trow.insertCell(1).innerHTML = tas_left[i]["course"];
                        trow.insertCell(2).innerHTML = tas_left[i]["section"];
                        trow.insertCell(3).innerHTML = tas_left[i]["done"];
                        trow.insertCell(4).innerHTML = tas_left[i]["max"];
                        if( tas_left[i]["max"]-tas_left[i]["done"] == 0){
                            trow.insertCell(5).innerHTML = '<span style="color:green;">&#10003</span>';
                        }else{
                            var html = '<button onclick="changeSelected('
                                        +tas_left[i]['course_id']+','
                                        +tas_left[i]['section_id']+')">Make</button>';
                            trow.insertCell(5).innerHTML = html;
                        }
                    }
                },
            });
        }

        function removeTaAllotment(ta_id,semester_id) {
            let text = "Do you want to remove the allotment made ?";
            if (confirm(text) == true) {
                $.ajax({
                    url: "/removeTaAllotment",
                    method: "POST",
                    data: {'ta_id':ta_id,'semester_id':semester_id},
                    //dataType: "json",
                    success: function (resp) { //alert(category_id)
                        generate_ta_Table(semester_id);
                        var course_id = $("#course").val();
                        var Section = $("#section").val();
                        if (!!section){
                            generate_course_section_tas_Table(semester_id,course_id,section);
                        }
                        if(typeof resp.message != 'undefined'){
                            var x = document.getElementById("snackbar");
                            x.className = "show";
                            var html = '';
                            html += '<p>'+resp.message+'</p>'
                            $("#snackbar").html(html);
                            setTimeout(function(){ x.className = x.className.replace("show", ""); }, 3000);
                        }
                    },
                });
            }
        }

        function generate_course_section_tas_Table(semester_id,course_id,section) {
            $.ajax({
                url: "/get_section_tas",
                method: "POST",
                data: {'semester_id':semester_id,'course_id':course_id,'section':section},
                //dataType: "json",
                success: function (resp) { //alert(category_id)
                    tas = resp.course_tas
                    const rows = document.getElementById('course_tas');
                    rows.innerHTML = ""
                    for(i=0 ; i<tas.length ; i++){
                        var row = rows.insertRow(i);
                        row.insertCell(0).innerHTML = i+1;
                        row.insertCell(1).innerHTML = tas[i]["section"];
                        row .insertCell(2).innerHTML = tas[i]["student"];
                        row.insertCell(3).innerHTML = '<button onclick="removeTaAllotment('+ tas[i]["id"]+','+semester_id+')"> Remove </button>';
                    }
                    $("#course_selected").html('<h4>'+ resp.course +' - '+ section+'</h4>');
                    $("#course_tas_table").show();
                },
            });
        }

        function set_section_fortaallot(course_id,semester_id,field,section) {
            $.ajax({
                url: "/get_sections_fortaallot",
                method: "POST",
                data: {'course_id': course_id,
                        'semester_id':semester_id,
                        'field':field},
                //dataType: "json",
                success: function (resp) {
                    course_sections = resp.course_sections
                    var html = "<br>";
                    for (var i = 0; i < course_sections.length; i++) {
                        html += '<option value="' + course_sections[i]['section'] + '">' + course_sections[i]['section'] + ' - ' + course_sections[i]['prof'] +' | MaxTA:'+ course_sections[i]['maxTA']+'</option>';
                    }
                    $("#section").html(html);
                    $("#section").selectpicker("refresh");
                    $("#section").val('S'+section).trigger('change');
                },
            });
            return true;
        }

        function get_students_fortaallot(semester_id,course_id) {
            $.ajax({
                url: "/get_students_fortaallot",
                method: "POST",
                data: {'semester_id':semester_id,'course_id':course_id},
                //dataType: "json",
                success: function (resp) {
                    students = resp.student_list
                    var html1 = "";
                    for (var i = 0; i < students.length; i++) {
                        html1 += '<option value="' + students[i]['id'] + '">'+students[i]['name']+'</option>';
                    }
                    $("#student").html(html1);
                    $("#student").selectpicker("refresh");
                },
            });
        }

        function changeSelected(course_id,section){
            $("#course").val(course_id);
            $("#course").selectpicker('refresh');
            var semester_id = $("#semester").val();
            var field = $("#semester").find(":selected").data("field");
            set_section_fortaallot(course_id,semester_id,field,section);
            get_students_fortaallot(semester_id,course_id);
        };

        $(document).ready(function () {
            $("#semester").selectpicker();
            $("#course").selectpicker();
            $("#section").selectpicker();
            $("#student").selectpicker();
            
            var semester_id = $("#semester").val();
            if (!!semester_id){
                generate_ta_Table(semester_id);
            }

            function get_courses(semester_id,field) {
                $.ajax({
                    url: "/get_courses_taallot",
                    method: "POST",
                    data: {'field': field,'semester_id':semester_id},
                    //dataType: "json",
                    success: function (courses) { //alert(category_id)
                        var html = "";
                        for (var count = 0; count < courses.length; count++) {
                            html += '<option value="' + courses[count].id + '">' + courses[count].name + "</option>";
                        }
                        $("#course").html(html);
                        $("#course").selectpicker("refresh");
                    },
                });
            }

            function get_sections_fortaallot(course_id,semester_id,field) {
                $.ajax({
                    url: "/get_sections_fortaallot",
                    method: "POST",
                    data: {'course_id': course_id,'semester_id':semester_id,'field':field},
                    //dataType: "json",
                    success: function (resp) {

                        course_sections = resp.course_sections
                        var html = "<br>";
                        for (var i = 0; i < course_sections.length; i++) {
                            html += '<option value="' + course_sections[i]['section'] + '">' + course_sections[i]['section'] + ' - ' + course_sections[i]['prof'] +' | MaxTA:'+ course_sections[i]['maxTA']+'</option>';
                        }
                        $("#section").html(html);
                        $("#section").selectpicker("refresh");
                    },
                });
                return true;
            }

            $(document).on("change", "#semester", function () {
                    var semester_id = $("#semester").val();
                    var field = $("#semester").find(":selected").data("field");
                    if(!!field && !!semester_id){
                        get_courses(semester_id,field);
                    }
                    generate_ta_Table(semester_id);
                    $("#section").html("");
                    $("#student").html("");
                    $("#section").selectpicker("refresh");
                    $("#student").selectpicker("refresh");
                    $("#course_tas_table").hide();
            });

            $(document).on("change", "#course", function () {
                var semester_id = $("#semester").val();
                var field = $("#semester").find(":selected").data("field");
                var course_id = $("#course").val();
                $("#course_tas_table").hide();
                get_sections_fortaallot(course_id,semester_id,field);
                get_students_fortaallot(semester_id,course_id);
            });

            $(document).on("change", "#section", function () {
                var semester_id = $("#semester").val();
                var course_id = $("#course").val();
                var section = $("#section").val();
                generate_course_section_tas_Table(semester_id,course_id,section);
            });

            $(document).on("click", "#btnSubmit", function () {

                var semester_id = $("#semester").val();
                var course_id = $("#course").val();
                var section = $("#section").val();
                var student_id = $("#student").val();
                if(!!student_id && !!section && !!course && !!semester_id){
                    student = {'semester_id':semester_id,'course_id':course_id,
                                'section':section,'student_id':student_id}
                    $.ajax({
                        url: "/allot_section_ta",
                        method: "POST",
                        data: {'ta_list': JSON.stringify(student)},
                        //dataType: "json",
                        success: function (resp) { //alert(category_id)
                            console.log(resp.success);
                            if(resp.success == true){
                                generate_ta_Table(semester_id);
                                generate_course_section_tas_Table(semester_id,course_id,section);
                            }
                            if(typeof resp.message != 'undefined'){
                                var x = document.getElementById("snackbar");
                                x.className = "show";
                                var html = '';
                                html += '<p>'+resp.message+'</p>'
                                $("#snackbar").html(html);
                                setTimeout(function(){ x.className = x.className.replace("show", ""); }, 3000);
                            }
                        },
                    });
                }
            });
        // stop submission
        });
    </script>
{% endblock content %}